body{
    width: 100%;
    height: 100%;
}
.container{
    text-align: center;
    margin-top: 120px;
    margin-bottom:120px;
}
.title{
    font-family: "eurostile",sans-serif;
    font-size: 32px;   
}
#tittwo{
    font-family: "eurostile",sans-serif;
    font-size:22px; 
    margin-bottom: 45px;
}
#titthree{
    text-align: center;
}
#titfour{
    margin-top: 7px;
}
#subone{
    margin-top: 1px;
    opacity: 0.85;
    font-size: 16px;
    margin-bottom: 20px;
}
#subtwo{
    opacity: 0.85;
    text-align: center;
    font-size: 16px;
}
#subthree{
    text-align: center;
}
#subfour{
    margin-top:3px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
}
.tile{
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 200px;
}
#contact{
    font-size: 15px;
}
#tagsosmed{
    margin-bottom: 60px;
}
.sosmed{
    font-size: 25px;
    margin-top: 55px;
}
.field{
    margin-left: 120px;
    margin-right: 120px;
}
.label{
    display:block; 
    text-align:left;
    font-size: 16px;
}
.is-horizontal-center {
    justify-content: center;
  }
img{
    margin-left: 20px;
    opacity: 0.85;
}
.nav-name{
    font-family: 'Shadows Into Light', cursive;
    font-size: 15px;
}

/* DESKTOP VERSION */
@media (min-width:992px){
    #titone{
        font-family: "eurostile",sans-serif;
        font-size: 40px;   
    }
    #subone{
        margin-top: 1px;
        opacity: 0.85;
        font-size: 18px;
        margin-bottom: 20px;
    }
    #tittwo{
        font-family: "eurostile",sans-serif;
        font-size: 40px; 
        margin-bottom: 30px;
    }
    #subtwo{
        opacity: 0.85;
        text-align: center;
        font-size: 20px;
    }
    .nav-name{
        font-family: 'Shadows Into Light', cursive;
        font-size: 24px;
    }
    
}